@inherits LayoutComponentBase

<BApp>
    <BOffCanvas Title="Bootstrap Mobile">
        <ChildContent>
            <BOffCanvasItem Href="/" Name="Home" Icon="bi bi-house" />
            <BOffCanvasItem Href="/fetchdata" Name="Fetch Data" Icon="bi bi-list-ul" />
            <BOffCanvasItem Href="/counter" Name="Counter" Icon="bi bi-plus-lg" />
            <BOffCanvasItem Href="/items" Name="Items" Icon="bi bi-list-nested" />
            <BOffCanvasItem Href="/accordion" Name="Accordion" Icon="bi bi-list-nested" />
            <BOffCanvasItem Href="/grid" Name="Grid" Icon="bi bi-list-nested" />
            <BOffCanvasItem Href="/actionsheet" Name="ActionSheet" Icon="bi bi-list-nested" />
        </ChildContent>

        <Bottom>
            <span>Version in bottom 1.3.0</span>
        </Bottom>
    </BOffCanvas>

    @Body

     <BFooter>
          <BTabbar>
             <BTab Href="" MatchAll="true" Name="Home" Icon="bi bi-house"></BTab>
             <BTab Href="fetchdata" Name="Fetchdata" Icon="bi bi-list-ul"></BTab>
             <BTab Href="counter" Name="Counter" Icon="bi bi-plus-lg"></BTab>
          </BTabbar>
     </BFooter>

    <BToast />
</BApp>
