@inherits LayoutComponentBase

<BApp>
    <BOffCanvas Title="Bootstrap Mobile">
        <ChildContent>
            <BOffCanvasItem Href="/" Name="Home" Icon="oi oi-home" />
            <BOffCanvasItem Href="/fetchdata" Name="Fetch Data" Icon="oi oi-list-rich" />
            <BOffCanvasItem Href="/counter" Name="Counter" Icon="oi oi-plus" />
            <BOffCanvasItem Href="/items" Name="Items" Icon="oi oi-list" />
            <BOffCanvasItem Href="/accordion" Name="Accordion" Icon="oi oi-list" />
            <BOffCanvasItem Href="/grid" Name="Grid" Icon="oi oi-list-rich" />
            <BOffCanvasItem Href="/actionsheet" Name="ActionSheet" Icon="oi oi-list-rich" />
        </ChildContent>

        <Bottom>
            <span>Version in bottom 1.0.8</span>
        </Bottom>
    </BOffCanvas>

    @Body

     <BFooter>
         <BTabbar>
             <BTab Href="" MatchAll="true" Name="Home" Icon="oi oi-home"></BTab>
             <BTab Href="fetchdata" Name="Fetchdata" Icon="oi oi-list-rich"></BTab>
             <BTab Href="counter" Name="Counter" Icon="oi oi-plus"></BTab>
         </BTabbar>
     </BFooter>

    <BToast />
</BApp>
