<div class="accordion  @(Flush ? "accordion-flush" : "")" id="@AccordionId">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string AccordionId { get; set; } = string.Empty;
    [Parameter] public bool Flush { get; set; }
}
