<div class="@ContainerClass">
    @ChildContent
</div>
@code {
    [Parameter] public bool Fluid { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    string ContainerClass => Fluid ? "container-fluid" : "container";
}
