<div class="@CreateClass()" @onclick="InvokeParentMethod" @attributes=AllOtherAttributes>
    <CascadingValue Value=this>
        <div class="@lineClass">
            @ChildContent
        </div>
    </CascadingValue>
    @if (Line)
    {
        <hr style="margin: 0;" />
    }
</div>

@code {
    [Parameter]public RenderFragment? ChildContent{ get; set; }
    [Parameter] public bool Line { get; set; } = true;
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public bool MultipleItems { get; set; } = true;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AllOtherAttributes { get; set; }

    string lineClass => MultipleItems ? "d-flex justify-content-between" : "";

    bool hasDelegate => OnClick.HasDelegate;

    private async void InvokeParentMethod()
    {
        if (!OnClick.HasDelegate)
            return;
        await OnClick.InvokeAsync();
    }
    
    string CreateClass()
    {
        var result = "b_item_wrapper";

        if (hasDelegate)
            result = $"{result} clickable";

        return result;
    }
}
