<div class="d-flex text-wrap align-items-center">
    <div class="@ClassString()">
        @if (Header is not null)
        {
            <h4 style="margin: 0;">@Header</h4>
        }
        <p style="margin: 0;" class="@PClassString">@Content</p>
    </div>
</div>


@code {
    [Parameter]public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }

    string PClassString => Header != null ? "" : "align-self-center";

    string ClassString()
    {
        if (Header == null)
            return "d-flex";

        if (Header != null && Content == null)
            return "d-flex align-items-center";

        return "d-flex flex-column";
    }
}
