@inject IJSRuntime JSRuntime

<div class="modal @scrollable fade" id="@Id" tabindex="-1" aria-labelledby="@Id-Label" aria-hidden="true">
    <div class="modal-dialog @fullScreen">
        <div class="modal-content" style="height: 100%;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">
                @Actions
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Actions { get; set; }
    [Parameter] public bool FullScreen { get; set; }
    [Parameter] public bool Scrollable { get; set; }
    [Parameter] public string Id { get; set; } = string.Empty;

    string fullScreen => FullScreen ? "modal-centered" : "";
    string scrollable => Scrollable ? " modal-dialog-scrollable" : "";

    public async Task Hide()
    {
        await JSRuntime.InvokeVoidAsync("dismissModal", Id);
    }

    public async Task Show()
    {
        await JSRuntime.InvokeVoidAsync("showModal", Id);
    }
}
