@inject NavigationManager NavigationManager

<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-bs-toggle="offcanvas" href="@Constants.OffCanvasTarget" role="button" aria-controls="offcanvasExample" @onclick="ItemClick">
    <div class="hstack gap-3 text-body">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <div class="text-body align-middle" style="height: 100%;">
                <span class="@Icon fs-2" aria-hidden="true"></span>
            </div>

        }
        @Name
    </div>


    @if (!string.IsNullOrEmpty(Href))
    {
        <span class="bi bi-chevron-right fs-2 text-muted" aria-hidden="true"></span>
    }
</a>

@code {
    [Parameter] public string Href { get; set; } = string.Empty;
    [Parameter] public string Name { get; set; } = string.Empty;
    [Parameter] public string Icon { get; set; } = string.Empty;
    [CascadingParameter] internal BOffCanvas? bOffCanvas { get; set; }

    private void ItemClick()
    {
        NavigationManager.NavigateTo(Href);
    }
}
