<li class="nav-item flex-fill text-center">
    <NavLink class="nav-link" href="@Href" Match="@(MatchAll ? NavLinkMatch.All : NavLinkMatch.Prefix)">
        <span class="@Icon" aria-hidden="true"></span>
        <br>
        @Name
    </NavLink>
</li>
@code {
    [Parameter] public string Href { get; set; } = string.Empty;
    [Parameter] public string Name { get; set; } = string.Empty;
    [Parameter] public string Icon { get; set; } = string.Empty;
    [Parameter] public bool MatchAll { get; set; }
}
