@page "/accordion"

<PageTitle>Accordion</PageTitle>
<BHeader Title="Fetch Data"></BHeader>
<BContent Padding="true">
    <BAccordion AccordionId="BItemAccordion">
        <BAccordionItem>
            <Header>
                Month
            </Header>
            <Content>
                <BItem MultipleItems="false">
                    <div class="row align-items-end" style="height: 6vh;">
                        <div class="col">
                            Date
                        </div>
                        <div class="col">
                            Arrived
                        </div>
                        <div class="col">
                            Left
                        </div>
                        <div class="col">
                            Active
                        </div>
                    </div>
                </BItem>
                <BItem MultipleItems="false" OnClick="ClickableTest">
                    <div class="row align-items-center" style="height: 6vh;">
                        <span class="col">
                            19.10
                        </span>
                        <span class="col">
                            07:50
                        </span>
                        <span class="col">
                            16:10
                        </span>
                        <span class="col">
                            6:35
                        </span>
                    </div>
                </BItem>
                <BItem MultipleItems="false" OnClick="ClickableTest">
                    <div class="row align-items-center" style="height: 6vh;">
                        <span class="col">
                            19.10
                        </span>
                        <span class="col">
                            07:50
                        </span>
                        <span class="col">
                            16:10
                        </span>
                        <span class="col">
                            6:35
                        </span>
                    </div>
                </BItem>
                <BItem MultipleItems="false" OnClick="ClickableTest">
                    <div class="row align-items-center" style="height: 6vh;">
                        <span class="col">
                            19.10
                        </span>
                        <span class="col">
                            07:50
                        </span>
                        <span class="col">
                            16:10
                        </span>
                        <span class="col">
                            6:35
                        </span>
                    </div>
                </BItem>
                <BItem MultipleItems="false" OnClick="ClickableTest">
                    <div class="row align-items-center" style="height: 6vh;">
                        <span class="col">
                            19.10
                        </span>
                        <span class="col">
                            07:50
                        </span>
                        <span class="col">
                            16:10
                        </span>
                        <span class="col">
                            6:35
                        </span>
                    </div>
                </BItem>
            </Content>
        </BAccordionItem>
    </BAccordion>
</BContent>

@code {
    private void ClickableTest()
    {

    }
}
